<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csy.demo.devtool">

    <application
        android:name=".netlib.net.retrofit.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--1.状态栏变色-->
        <activity android:name=".ui.statusbar.StatusBarActivity"/>

        <!--2.圆形进度条及回调接口-->
        <activity android:name=".ui.dialog.ProgressDialogActivity">
        </activity>

        <!--3.各种进度条及切换失败或成功样式-->
        <activity android:name=".ui.dialog.SweetAlertDialogActivity">
        </activity>

        <!--4.倒计时-->
        <activity android:name="com.csy.demo.devtool.CountDownTimerActivity">
        </activity>

        <activity android:name="com.csy.demo.devtool.netlib.net.retrofit.activity.MainNetActivity">
        </activity>


    </application>

</manifest>