DIV {
	WORD-BREAK: break-all
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	FONT-SIZE: 14px; COLOR: #003366; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 14px; COLOR: #003366; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 14px; COLOR: #003366; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 14px; COLOR: #003366; TEXT-DECORATION: underline
}
DIV#container {
	MARGIN: 0px auto; WIDTH: 1000px; POSITION: relative; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
DIV#header {
	WIDTH: 1000px; BORDER-BOTTOM: #ff8a00 20px solid; POSITION: relative; HEIGHT: 60px; BACKGROUND-COLOR: #003063; TEXT-ALIGN: center
}
.textStyle {
	FONT-SIZE: 9pt; WIDTH: 430px; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #999999 1px solid; WIDTH: auto; COLOR: #333333; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
INPUT.inputStyle {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #eeeeee
}
DIV.entity {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
DIV#category {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
DIV#category A:visited {
	FONT-SIZE: 14px; COLOR: #920702
}
DIV#category A:link {
	FONT-SIZE: 14px; COLOR: #920702
}
DIV#category A:hover {
	FONT-SIZE: 14px; COLOR: #920702
}
DIV.operation {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
P {
	COLOR: #666666; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
P.diaryFoot {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: right
}
P.comment {
	MARGIN: 10px 0px 10px 30px
}
P.trackback {
	FONT-STYLE: italic
}
TABLE.comment {
	MARGIN-LEFT: 60px; WIDTH: 570px
}
#footer {
	DISPLAY: none
}
H1 {
	MARGIN-TOP: 20px; FONT-SIZE: 14px; COLOR: #fff; PADDING-TOP: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#header A {
	FONT-SIZE: 14px; COLOR: #fff
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #f9dfc0 2px solid; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #f9dfc0 2px solid; TEXT-ALIGN: left
}
H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 10px; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN: 0px; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 9pt
}
