DIV {
	WORD-BREAK: break-all
}
A:link {
	FONT-SIZE: 9pt; COLOR: #bfdefb; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #bfdefb; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #c4fd9b; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #bfdefb; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1.title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 16px 0px 0px 5px; PADDING-TOP: 0px
}
H1.title A:link {
	FONT-SIZE: 9pt; COLOR: #bfdefb; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
H1.title A:visited {
	FONT-SIZE: 9pt; COLOR: #bfdefb; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
H1.title A:hover {
	FONT-SIZE: 9pt; COLOR: #c4fd9b; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #bfdefb; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2.diaryTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template37/img/img_h.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; COLOR: #c4fd9b; PADDING-TOP: 13px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 40px; TEXT-ALIGN: left
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #fff; PADDING-TOP: 13px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 38px; TEXT-ALIGN: left
}
H5 {
	MARGIN-TOP: 13px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 120px; COLOR: #fff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #004487; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #002f5d; SCROLLBAR-SHADOW-COLOR: #e8e8e8; SCROLLBAR-3DLIGHT-COLOR: #bfdefb; SCROLLBAR-ARROW-COLOR: #00ccff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #004487; SCROLLBAR-DARKSHADOW-COLOR: #004487; BACKGROUND-COLOR: #003f7f; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 9pt; COLOR: #bfdefb
}
DIV#container {
	BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template37/img/img_bj_2.jpg); MARGIN: 0px auto; WIDTH: 868px; BACKGROUND-REPEAT: repeat-y
}
DIV#header {
	BORDER-RIGHT: #004487 5px solid; BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template37/img/img_header.jpg); MARGIN-BOTTOM: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #004487 5px solid; WIDTH: 756px; BORDER-BOTTOM: #004487 5px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 170px
}
.textStyle {
	BORDER-RIGHT: #004487 2px solid; BORDER-TOP: #004487 2px solid; FONT-SIZE: 9pt; BORDER-LEFT: #004487 2px solid; WIDTH: 430px; COLOR: #bfdefb; BORDER-BOTTOM: #004487 2px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #0050a0; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #004487 1px solid; BORDER-TOP: #004487 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #004487 1px solid; WIDTH: auto; COLOR: #bfdefb; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #004487 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #2779cb; TEXT-DECORATION: none
}
INPUT.inputStyle {
	BORDER-RIGHT: #004487 1px solid; BORDER-TOP: #004487 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #004487 1px solid; WIDTH: auto; COLOR: #bfdefb; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #004487 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #2779cb; TEXT-DECORATION: none
}
DIV.entity {
	BORDER-RIGHT: #004487 5px solid; BORDER-TOP: #004487 5px solid; FONT-SIZE: 9pt; MARGIN: 0px 0px 0px 5px; BORDER-LEFT: #004487 5px solid; WIDTH: 766px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #004487 5px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #2779cb; TEXT-ALIGN: left
}
DIV#category {
	MARGIN: 5px; COLOR: #004487; PADDING-TOP: 12px; HEIGHT: 30px
}
DIV.operation {
	MARGIN: 10px 5px 0px; WIDTH: 766px; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 9pt; MARGIN: 10px 5px 10px 8px; COLOR: #bfdefb; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
P.diaryFoot {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #bfdefb; PADDING-TOP: 2px; HEIGHT: 10px; TEXT-ALIGN: right
}
P.trackback {
	FONT-STYLE: italic
}
TABLE.comment {
	MARGIN-LEFT: 130px; WIDTH: 570px
}
DIV#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto 0px 6px; WIDTH: 760px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: center
}
DIV#footer A:link {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:visited {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:hover {
	FONT-SIZE: 9px; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
